name: check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 0"

jobs:
  test-cov:
    uses: ./.github/workflows/.hatch-run.yml
    with:
      job-name: "python-{0}"
      hatch-run: "cov"
  lint:
    uses: ./.github/workflows/.hatch-run.yml
    with:
      job-name: "python-{0}"
      hatch-run: "lint:all"
  test-matrix:
    uses: ./.github/workflows/.hatch-run.yml
    with:
      job-name: "python-{0} {1}"
      hatch-run: "test-py --no-cov"
      runs-on-array: '["ubuntu-latest", "macos-latest", "windows-latest"]'
      python-version-array: '["3.9", "3.10", "3.11"]'
